.btn {
  @include transition;

  display: inline-block;

  text-align: center;
  text-decoration: none;

  border: 1px solid $color-main;


  &:not(:disabled):hover {
    cursor: pointer;
  }
  &:active {
    outline: none;
  }
  &:disabled {
    cursor: default;
  }
  &_center {
    margin: 0 auto;
  }
}

.btn-group {
  display: flex;
}

.btn_bg {
  @include font(14px, 400, 14px);

  padding: 14px 30px;
  width: 100%;
}

.btn_md {
  @include font(16px, 400, 16px);

  border: 3px solid $color-main;
  letter-spacing: 0;
  word-spacing: 0;
  text-transform: uppercase;

  padding: 16px 40px;
}

.btn_sm {
  @include font(14px, 400, 14px);

  padding: 8px 10px;
}



// генератор цвета кнопки
@each $color-name, $color, $color-hover, $color-active, $color-disabled in
                (main, $color-secondary, $color-success, $color-main, #e3e3e3),
                (secondary, $color-secondary, $gray--lighten, $color-main),
                (nofill, $gray--dark, $color-success, $color-secondary) {

  // кнопка с рамкой и прозрачным фоном
  .btn_#{$color-name} {

      background-color: transparent;


    &:not(:disabled),
    &:not(:disabled):link,
    &:not(:disabled):visited {
      color: $color;
      @if $color-name == nofill {
        border-color: $gray--dark;
      } @else {
      border-color: $color-main;
    }
  }
    &:not(:disabled):hover,
    &:not(:disabled):active {
      color: $color-active;
      @if $color-name == nofill {
        border-color: $color-hover;
        background-color: $color-hover;
      } @else {
        border-color: $color-active;
        background-color: $color-hover;
      }
    }

    &:disabled {
      color: $color-disabled;
      border-color: $color-disabled;
    }
  }

  // кнопка полностью одного цвета
  .btn-fully_#{$color-name} {

    background-color: $color-active;

    &:not(:disabled),
    &:not(:disabled):link,
    &:not(:disabled):visited {
      color: $color;
      border-color: $color-active;
    }
    &:not(:disabled):hover,
    &:not(:disabled):active {
      color: $color;
      border-color: $color-hover;
      background-color: $color-hover;
    }
    &:disabled {
      color: $color-disabled;
      border-color: $color-disabled;
    }
  }
}


.label {
  &:after {
    @include font(14px, 500, 40px);
    position: absolute;
    top: 20px;
    left: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-transform: uppercase;
    color: $color-secondary;
    border: none;
    text-align: center;
    display: inline-block;
  }
}

.label-new {
  &:after {
    content: 'new';
    background-color: $color-main;
  }
}