.btn {
  @include transition;

  display: inline-block;

  text-align: center;
  text-decoration: none;

  letter-spacing: 2.5px;
  word-spacing: 5px;
  
  font-size: 24px;
  padding: 25px 50px;

  &:not(:disabled):hover {
    cursor: pointer;
  }
  &:active {
    outline: none;
  }
  &:disabled {
    cursor: default;
  }
}

.btn__main-back-fill {
  background-color: $color-main;
  color: $color-secondary;
  border-style: 1px solid $color-main;

  &:hover {
    border-color: $btn-main-bg;
    color: $btn-main-color;
    background-color: $btn-main-bg;
  }
}

.btn__main-back {
  background-color: transparent;
  color: $gray--dark;
  border: 2px solid $gray--dark;

  &:hover {
    border-color: $btn-main-bg;
    color: $btn-main-color;
    background-color: $btn-main-bg;
  }
}

// button medium size
.btn__md {
  @include font(14px, 500, 18px);
  font-family: $font-family;

  text-transform: uppercase;
  padding: 17px 20px;
  //min-width: 200px;
}

// button small size

.btn__sm {
  @include font(14px, 400, 14px);
  letter-spacing: 0;
  word-spacing: 0;

  padding: 10px;
}

.to-top {
  @include transition;
  //position: absolute;
  position: fixed;
  z-index: 2;
  top: 100px;
  display: none;
  right: 50px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 50%;
  transform: translateY(-50%);
  color: $btn-main-color;
  background-color: $color-success;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
  &:hover {
    background-color: $color-success--light;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  }
  @media (max-width: $md) {
    right: 20px;
    width: 50px;
    height: 50px;
  }
}

.label {
   &:after {
     @include font(14px, 500, 40px);
     position: absolute;
     top: 20px;
     left: 20px;
     height: 40px;
     width: 40px;
     border-radius: 50%;
     text-transform: uppercase;
     color: $color-secondary;
     border: none;
     text-align: center;
     display: inline-block;
   }
 }

.label-new {
  &:after {
    content: 'new';
    background-color: $color-main;
  }
}

// buttons in catalog with price
.flags {
  &:after {
    @include font(14px, 500);
    position: absolute;
    top: 0;
    left: 0;
    padding: 6px 12px;
    text-transform: uppercase;
    color: $color-secondary;
    border: none;
    text-align: center;
    display: inline-block;
  }
}

.flags-price {

  &:after {
    content: '$888';
    background-color: $color-main;
  }
}


// buttons in catalog
.btn-flag {
  background-color: transparent;
  color: $color-main;
  border: 1px solid $color-main;
  padding: 10px;
}