.icon {
  svg {
    display: inline-block;
    height: 33px;
    width: 33px;
    vertical-align: middle;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }

}

.icon {
  fill: currentColor;
}

// about

.about__accordion .icon-left-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 22px;
  height: 24px;
  transform: translate(-50%,-50%) rotate(-90deg);
}
// footer

.to-top .icon-left-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 24px;
  transform: translate(-50%,-50%) rotate(90deg);
}



.gray_mod {
  color: $gray;
}

.white_mod {
  color: $color-secondary;
}

.main_mod {
  color: $color-main;
}

.success_mod {
  color: $color-success;
}

// catalog, featured

.icon-shopping-cart {
  height: 18px;
  width: 18px;
}

.icon-view {
  height: 18px;
  width: 18px;
}

.icon-heart {
  height: 18px;
  width: 18px;
}

.social {
  .icon {
    //opacity: 0.8;
    &:hover {
      fill: $color-main;
    }
  }
}

.blog-post {

  .icon {
    height: 18px;
    width: 18px;
  }
}

.svg {
  display: inline-block;
  vertical-align: middle;
  width: 180px;
  height: 55px;

}