@mixin font-size($sizeValue: 14) {
  font-size: $sizeValue + px;
  line-height: 1.2;
}

// @include font($font-size, $font-weight: 400, $line-height: 1.5, $font-style: normal, $font-family: $font); // Font берется из _variables.scss
@mixin font( $font-size, $font-weight: 400, $line-height: 1.2, $font-style: normal, $font-family: $font-family) {
  font: $font-weight $font-style #{$font-size} / #{$line-height} $font-family;
}

//@include transition;
@mixin transition($property: all, $time: 0.2s, $how: ease-in) {
   transition: $property $time $how;
}



@mixin title {
  display: inline-block;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0;
}





