.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-arrows_down {
  font-size:(33/10)*1rem;
  width:(34.1/33)*1em;
}
.icon-bar-menu {
  font-size:(24.4/10)*1rem;
  width:(30/24.4)*1em;
}
.icon-facebook {
  font-size:(32/10)*1rem;
  width:(15/32)*1em;
}
.icon-fb {
  font-size:(30/10)*1rem;
  width:(30/30)*1em;
}
.icon-house-sketch {
  font-size:(33/10)*1rem;
  width:(35.2/33)*1em;
}
.icon-left-arrow {
  font-size:(30/10)*1rem;
  width:(17.6/30)*1em;
}
.icon-left-chevron {
  font-size:(30/10)*1rem;
  width:(13/30)*1em;
}
.icon-linkedin {
  font-size:(30/10)*1rem;
  width:(30/30)*1em;
}
.icon-paint-brush {
  font-size:(33/10)*1rem;
  width:(24.5/33)*1em;
}
.icon-quotes {
  font-size:(22.7/10)*1rem;
  width:(33/22.7)*1em;
}
.icon-search-symbol {
  font-size:(30/10)*1rem;
  width:(30/30)*1em;
}
.icon-top-arrow {
  font-size:(20.4/10)*1rem;
  width:(32/20.4)*1em;
}
.icon-twitter {
  font-size:(30/10)*1rem;
  width:(30/30)*1em;
}
.icon-user {
  font-size:(33/10)*1rem;
  width:(29.4/33)*1em;
}
