$site-width: 1200px;    // ширина сайта
$gutter: 15px;

$color-main: #48689a;
$color-secondary: #fff;
$color-success: #5b84c3;
$color-success--light: #02e0d8;

$btn-main-bg: $color-main;
$btn-main-color: $color-secondary;
$btn-main-border: $color-success;

$gray--lightest: #eee;
//$gray--lighten: #f7f7f7;
$gray--lighten: #e1e1e1;
$gray--light: #8f8f8f;
$gray: #444;
$gray--dark: #3c4852;
$gray--darken: #15232d;


$font-family: OpenSans, serif;
$font: OpenSans, sans-serif;

$breakpoint: 1200px;

$sm: 544px;     // Small screen / phone
$md: 768px;     // Medium screen / tablet
$lg: 992px;     // Large screen / desktop
$xl: 1200px;    // Extra large screen desktop
$xxl: 1440px;   // Wide desktop

