.blog-post
  span.blog-post__date 15<br>June
  a(href="#").blog-post__image
    img(src="img/250x160.jpg" width="250" height="160" alt="img")
  .blog-post__content
    h5.blog-post__title 4 Denim Shapes Worth Hanging Up Your SKINNY JEANS
    .blog-post__social
      a(href="#").blog-post__author
        +icon('admin')
        span Admin
      ul
        li
          a(href="#")
            +icon('facebook')
        li
          a(href="#")
            +icon('twitter')
        li
          a(href="#")
            +icon('google')
    a(href="#").blog-post__full Read full article...







