.category-slider__slide.swiper-slide
  .category-slide
    .category-slide__img
      img(src="img/270x340.jpg" alt="img")
    a(href='#').btn.btn-secondary.btn_sm.btn_cart
      +icon('shopping-cart','gray_mod')









