.page-title
  .container
    ul.breadcrumbs
      li.breadcrumbs__list
        a(href="#").breadcrumbs__link Home
      li.breadcrumbs__list
        a(href="#").breadcrumbs__link shop
      li.breadcrumbs__list.breadcrumbs__list.active
        a(href="#").breadcrumbs__link details
    h1 Product DETAILS








