.blog {

  background-color: $gray--lightest;

  .title {
    display: block;
    padding-top: 95px;
    margin-bottom: 40px;
  }

  .title_center {
    text-align: center;
  }
}

.blog-post {

  @include span(12); // элемент занимает 6 колонок
  display: flex;
  min-height: 160px;
  color: $gray--dark;
  margin-bottom: 30px;
  position: relative;

  @media (min-width: $md) {
    @include span(6);
    margin-bottom: 50px;
  }

  /*@media (min-width: $md) and (max-width: $breakpoint - 1) {
   @include span(12); // элемент занимает 4 колонки
   flex-direction: column;
 }*/

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-top: 28px;
    padding-left: 28px;

    @media (min-width: $md) {
      flex-wrap: nowrap;
    }
  }

  &__date {
    position: absolute;
    background-color: $color-main;
    color: $color-secondary;
    text-align: center;
    padding: 10px 8px;
    top: 6px;
    left: 7px;
    @include font (12px, 600, 1);
    text-transform: uppercase;
    z-index: 2;
  }

  &__img-link {
    //width: 400px;
    width: 100%;
    margin-right: 30px;
    margin-bottom: 30px;

    @media (min-width: $md) {
      width: 100%;
      margin-bottom: 0;
    }

    &:after {
      position: absolute;
      content: '';
      height: 44px;
      width: 44px;
      padding: 10px;
      top: 0;
      left: 0;
      border: 2px solid $color-main;
      display: inline-block;
    }

    img {
      width: auto;
      max-width: 100%;
      height: auto;
      max-height: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    @include font (14px, 400, 1.8);
  }

  &__title {
    display: block;
    text-transform: uppercase;
    margin-bottom: 12px;
  }

  &__social {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      justify-content: space-between;
    }
  }

  &__author {
    display: block;

    span {
      margin-left: 10px;
    }

  }

  &__full {
    display: block;
    align-self: flex-start;
    margin-top: auto;
    line-height: 1.2;
    margin-bottom: 10px;

    &:hover {
      color: $color-main;
    }
  }
}



