.brands {

  background-color: $gray--lightest;
  margin-bottom: 100px;

  &__header {
    text-align: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    @media (max-width: $xl) {
      justify-content: center;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100%/6 - 20px);
    height: 100px;
    margin: 60px 10px;
    @media (max-width: $xl) {
      width: calc(33.333% - 20px);
      margin: 20px 10px;
    }
    @media (max-width: $lg) {

    }
    @media (max-width: $md) {
      width: calc(50% - 20px);
    }
  }

  &__link {

    img{
      display: block;
      -webkit-filter: opacity(0.5);
      filter: opacity(0.5);
      margin: auto;
      &:hover {
        filter: opacity(1);
      }
      &:active {
        filter: opacity(1);
      }
    }
  }
}


