.catalog {

  &__menu-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 90px;
    margin-bottom: 40px;
  }

  &__menu {
    display: flex;
  }

  &__menu-list {
    display: flex;
    justify-content: space-between;
  }

  &__menu-link {
    display: block;
    color: $gray--darken;
    text-transform: uppercase;
    padding: 10px 20px;
  }

  &__column-wrap {
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
  }
}


// catalog, featured

.catalog, .feature, .top-brand, .blog {
  .icon {
    height: 18px;
    width: 18px;
  }
}

