.feature {

  &__menu-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 90px;
    margin-bottom: 40px;
  }
}

.products__column-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-width: 100%;
}
