.catalog {
  background: green;
  padding-top: 50px;
  padding-bottom: 70px;
}

.catalog-item {
  @include span(12);  // элемент занимает 4 колонки
  border: 2px solid $gray--lightest;
  height: 100px;
  font-size: 30px;
  color: black;
  @media (min-width: $md) and (max-width: $breakpoint - 1) {
    @include span(6);  // элемент занимает 4 колонки
  }

  @media (min-width: $breakpoint) {
    @include span(4);  // элемент занимает 4 колонки
  }
}

.info-block {
  background-color: $gray--lighten;
  padding-top: 100px;

  & .row {
    //flex-direction: row-reverse;
    text-align: right;
  }

  &__column {

    @include span(6);  // элемент занимает 4 колонки
    border: 5px solid $gray--lightest;

    @media (min-width: $md) and (max-width: $breakpoint - 1) {
      @include span(6);  // элемент занимает 4 колонки
    }
  }

  &:first-child  {

    .widget__title-brd {
      padding: 70px 100px;
      text-align: right;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        margin: 15px 30px;
        width: calc(100% - 60px);
        height: calc(100% - 30px);
        border: 5px solid $color-main;
      }
    }
  }

  /*&__preview {
    position: absolute;
  }*/
}

.widget {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  //font-family: 'Open Sans',Arial,Helvetica,Verdana,sans-serif;
  cursor: pointer;
  color: $gray--dark;

  &__preview {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
    }
  }

  &__title {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    text-align: left;

    width: 100%;
    height: 100%;
    z-index: 10;
    padding: 75px 30px;
  }
}

.widget__title {

  strong {
    color: $color-main;
  }

  &-name {
    @include font (24px, 600);

    strong {
      @include font (36px, 600);
    }

    & + span {
      letter-spacing: 8px;
    }
  }

  &-text {
    @include font (24px, 600, 1.5);
    text-transform: uppercase;
  }

  &-text + &-text {
    margin-bottom: 20px;
  }
}


/*
.icon_down_arrow {
  border: solid $gray--light;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}

.icon_up_arrow {
  border: solid $gray--light;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
}
*/

