.page-title {
  min-height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  h1 {
    text-align: center;
  }
}

.breadcrumbs {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;

  &__link {
    color: $gray--dark;
  }

  &__list:not(:last-child) &__link:after {
    content: "\2022";
    padding: 0 15px;
  }
}