.page-title {
  min-height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
  }

  &_bgr {
    background-color: $gray--lighten;
  }
}

.breadcrumbs {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;

  &__link {
    @include font (24px, 500);
    color: $gray--light;
  }

  &__list:not(:last-child) {
    margin-right: 10px;
  }

  &__list:not(:last-child):after {
    content: "";
    border: solid $gray--light;
    border-width: 0 2px 2px 0;
    display: inline-block;
    transform: rotate(-45deg);
    padding: 4px;
  }
}