.product-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 90px;
  margin-bottom: 45px;



  &__nav {
    display: flex;
  }

  &__list {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;

    @media (min-width: $md) {

    }
  }

  &__link {
    display: block;
    color: $gray--darken;
    text-transform: uppercase;
    padding: 10px 20px;
    padding-left: 0;

    &:hover {
      @include transition;
      color: $color-success;
    }
  }

  &__title {
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 20px;

    @media (min-width: $md) {
      margin-bottom: 0;
    }
  }
}

.title_center {
  margin: 0 auto;
}


