.product-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 90px;
  margin-bottom: 45px;

  &__nav {
    display: flex;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    display: block;
    color: $gray--darken;
    text-transform: uppercase;
    padding: 10px 20px;

    &:hover {
      @include transition;
      color: $color-success;
    }
  }

  &__title {
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 0;
  }
}

.title_center {
  margin: 0 auto;
}


