.services {

  background-color: $gray--lightest;
  margin-top: 70px;
  @media (max-width: $md) {
    margin-top: 50px;
  }

  &__container-wrap {
    padding: 70px 0;


    @media (max-width: $lg) {
      margin-top: 70px;
    }
    @media (max-width: $md) {
      margin-top: 50px;
    }
  }

  &__container {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    @media (max-width: $lg) {
      max-width: 500px;
    }
    @media (max-width: $md) {
      max-width: 250px;
    }
  }

  &__item {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;

  }

  &__photo {
    display: block;
    overflow: hidden;
    width: 100%;
    img {
      width: 100%;
    }
  }

  &__text {
    margin: 20px 0;
  }
}

