.services {

  padding-top: 70px;

  @media (max-width: $md) {
    margin-top: 50px;
  }

  &__container-wrap {
    padding: 70px 0;


    @media (max-width: $lg) {
      margin-top: 70px;
    }

    @media (max-width: $md) {
      margin-top: 50px;
    }
  }
}





