.brand {
  padding-top: 100px;
  margin-bottom: 70px;

  &__column {
    @include span(4);

    &:nth-child(2n) {
      text-align: center;
    }

    &:last-child {
      text-align: right;
    }

    /*&:last-child > .top-brand {
      flex-direction: row-reverse;

    }*/
  }

  &__title {
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    color: $gray--dark;
    margin-bottom: 33px;
    padding-bottom: 10px;
    width: 100%;
  }
}

.brand__column_left {

  .top-brand {
    flex-direction: row-reverse;

    .btn {
      margin-right: 0;
      margin-left: 10px;
    }

  }

  .top-brand__link {
    flex-direction: row-reverse;
  }


}

.top-brand {
  display: flex;
  padding-bottom: 26px;

  &:not(:last-child) {
    border-bottom: 1px solid $gray--lighten;
    margin-bottom: 28px;
  }

  &__image-link {
    display: block;
  }

  &__content {
    padding: 0 20px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__title {
    @include font(18px 400 1.2);
    color: $gray--dark;
    line-height: 1.2;
    margin-bottom: 8px;
  }


  &__price {
    margin-bottom: 10px;
  }

  &__price_main {
    color: $color-main;
  }

  &__link {
    display: flex;
  }

  .btn {
    display: block;
    width: 27px;
    height: 27px;
    overflow: hidden;
    padding: 0;
    margin-right: 10px;
    line-height: 1.5;

    &:first-child:hover {
      width: 110px;
      @include transition;
      color: $color-secondary;
      background-color: $color-success;
    }
    &:first-child:hover .icon {
      color: $color-secondary;
    }
  }

  .btn_flag {
    span {
      margin-left: 5px;
    }
  }
}


.title__line {
  &:after {
    content: '';
    border-bottom: solid 2px $btn-main-bg;
    width: 50px;
    position: absolute;
    left: 0;
    top: 100%;
  }

  &-center {

    &:after {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &-right {

    &:after {
      left: inherit;
      right: 0;
    }
  }
}

// buttons in catalog with price
.flags {
  &:after {
    @include font(14px, 500);
    position: absolute;
    top: 0;
    left: 0;
    padding: 6px 12px;
    text-transform: uppercase;
    color: $color-secondary;
    border: none;
    text-align: center;
    display: inline-block;
  }
}

.flags-price {

  &:after {
    content: '$888';
    background-color: $color-main;
  }
}
