.product {
  background-color: $gray--lighten;
  padding-top: 50px;

  @media (min-width: $md) {
    padding-top: 100px;
  }

  &-slider {
    @include span(12);

    @media (min-width: $md) {
      @include span(6);
    }
  }

  &__aside {
    @include span(12);
    z-index: 2;

    @media (min-width: $md) {
      @include span(6);
    }
  }

  &__features {
    margin-bottom: 30px;
    border-bottom: 1px solid $gray--morelight;
  }


  /*&__img {
    display: block;
    background: #f0f0f0;
    color: #3498db;
    margin: 0 10px;
    position: relative;
    text-align: center;
  }*/


  &__info {
    margin-bottom: 40px;
  }

  &-price {
    padding-top: 0;
    margin-bottom: 20px;

    @media (min-width: $md) {
      padding-top: 60px;
    }
  }

  &-price__text {
    color: $color-main;
    font-size: 42px;
  }
}

.product-brand {
  margin-bottom: 12px;

  &__title {
    font-size: 18px;
    color: $gray--dark;
  }
}

.product-rating {
  display: flex;
  margin-bottom: 50px;

  &__stars {
    display: block;
    .icon {
      height: 16px;
      width: 16px;
    }
  }

  &__text {
    color: $gray--dark;
  }
}



.product-specs {

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 20px;

    @media (min-width: $md) {
      flex-direction: row;
      margin-bottom: 60px;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-color: $gray--morelight;

    &:hover .icon {
      color: $color-secondary;
    }
  }

  .icon {
    width: 12px;
    height: 12px;
  }

  .btn_nofill {
    border-color: $gray--morelight;
  }

  input {
    text-align: center;
    width: 52px;
    height: 50px;
    background-color: $gray--lighten;
    border-top: 1px solid $gray--morelight;
    border-bottom: 1px solid $gray--morelight;
    border-left: none;
    border-right: none;
  }

  &__item {

    &:not(:last-child) {
      margin-right: 0;
      margin-bottom: 20px;

      @media (min-width: $md) {
        margin-bottom: 0;
        margin-right: 35px;
      }
    }

    select {
      height: 50px;
      background-color: $gray--lighten;
      border: 1px solid $gray--morelight;
      outline: transparent;
      padding: 0 10px;
      color: $gray--light;
      width: 100%;

      @media (min-width: $md) {
        min-width: 160px;
      }
    }
  }

  &__item_quantyty {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 35px;
  }
}

.js-btn_active {
  background-color: $color-main;
  color: $color-secondary;
}

.product-btn {

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;

    @media (min-width: $md) {
      justify-content: flex-start;
    }
  }

  &:first-child {
    margin-right: 0;
    margin-bottom: 30px;

    @media (min-width: $md) {
      margin-bottom: 0;
      margin-right: 20px;
    }
  }
}

.social__wrap {
  margin-bottom: 30px;

  @media (min-width: $md) {
    margin-bottom: 0;
  }
}

.tabs {
  background-color: $color-main;
  margin-bottom: 40px;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //width: 750px;
    margin: 0 auto;

    @media (min-width: $md) {
      width: 750px;
    }
  }

  &__link {
    display: block;
    padding: 20px 0 27px;
    text-transform: uppercase;
  }

  &__pane {
    display: none;
  }

  &__info {
    max-width: 750px;
    margin: 0 auto;
  }

  &_active {
    display: block;
  }
}

.js-tabs {

  &_active {
    display: block;
  }

  &__item {
    position: relative;
    display: inline-block;
    border: none;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__item_active {

    &:after {
      content: "";
      position: absolute;
      bottom: -2px;
      right: 50%;
      transform: translateX(50%);
      border: 21px solid transparent;
      border-bottom: 11px solid $color-secondary;
    }
  }
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;


  h6 {
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    padding-bottom: 7px;
    margin-bottom: 25px;
  }
}

.social__wrap {

}







