.svg {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.svg-brands_5 {
  font-size:(55/10)*1rem;
  width:(142.6/55)*1em;
}
.svg-brands_6 {
  font-size:(55/10)*1rem;
  width:(165.8/55)*1em;
}
.svg-headset {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
.svg-house {
  font-size:(31/10)*1rem;
  width:(31/31)*1em;
}
.svg-truck {
  font-size:(26/10)*1rem;
  width:(32/26)*1em;
}
