.icon {
  display: inline-block;
  width: 1px;
  height: 1px;
  fill: currentColor;
}

.icon-admin {
  font-size:(438.5/10)*1px;
  width:(402/438.5)*1px;
}
.icon-arrows_down {
  font-size:(33/10)*1px;
  width:(34.1/33)*1px;
}
.icon-bag-outline {
  font-size:(485.2/10)*1px;
  width:(363.9/485.2)*1px;
}
.icon-bar-menu {
  font-size:(24.4/10)*1px;
  width:(30/24.4)*1px;
}
.icon-call-answer {
  font-size:(347.3/10)*1px;
  width:(348.1/347.3)*1px;
}
.icon-check-mark {
  font-size:(186.1/10)*1px;
  width:(241/186.1)*1px;
}
.icon-columns {
  font-size:(27.6/10)*1px;
  width:(27.7/27.6)*1px;
}
.icon-facebook {
  font-size:(32/10)*1px;
  width:(15/32)*1px;
}
.icon-google {
  font-size:(377.5/10)*1px;
  width:(377.5/377.5)*1px;
}
.icon-google-plus {
  font-size:(377.5/10)*1px;
  width:(491.9/377.5)*1px;
}
.icon-heart {
  font-size:(345.2/10)*1px;
  width:(369.5/345.2)*1px;
}
.icon-left-chevron {
  font-size:(30/10)*1px;
  width:(13/30)*1px;
}
.icon-linkedin-letters {
  font-size:(419.1/10)*1px;
  width:(438.5/419.1)*1px;
}
.icon-list {
  font-size:(357/10)*1px;
  width:(433.5/357)*1px;
}
.icon-mail {
  font-size:(402/10)*1px;
  width:(511.6/402)*1px;
}
.icon-minus-sign {
  font-size:(84.7/10)*1px;
  width:(349/84.7)*1px;
}
.icon-plus {
  font-size:(533.3/10)*1px;
  width:(533.3/533.3)*1px;
}
.icon-quotes {
  font-size:(22.7/10)*1px;
  width:(33/22.7)*1px;
}
.icon-right-arrow {
  font-size:(22.1/10)*1px;
  width:(31.5/22.1)*1px;
}
.icon-search-symbol {
  font-size:(30/10)*1px;
  width:(30/30)*1px;
}
.icon-shopping-cart {
  font-size:(365.8/10)*1px;
  width:(366.3/365.8)*1px;
}
.icon-star-half-empty {
  font-size:(453.1/10)*1px;
  width:(475/453.1)*1px;
}
.icon-top-arrow {
  font-size:(20.4/10)*1px;
  width:(32/20.4)*1px;
}
.icon-twitter {
  font-size:(497.1/10)*1px;
  width:(612/497.1)*1px;
}
.icon-view {
  font-size:(47.9/10)*1px;
  width:(80.8/47.9)*1px;
}
.icon-youtube {
  font-size:(516.4/10)*1px;
  width:(543.9/516.4)*1px;
}
