.page-title
  .container
    ul.breadcrumbs
      each val in prodBreadcrumbs
        li.breadcrumbs__list
          a.breadcrumbs__link(href=val.href)=val.name
    h1 Product Details
section
  .product
    .container
      .row
        .product-slider
          .product-slider__container.gallery-top.swiper-container
            .product-slider__slider.swiper-wrapper
              .product-slider__slide.swiper-slide
                img.product-slider__img(src="img/555х600.jpg")
              .product-slider__slide.swiper-slide
                img.product-slider__img(src="img/555х600_1.jpg")
              .product-slider__slide.swiper-slide
                img.product-slider__img(src="img/555х600_2.jpg")
            .swiper-button-next.product-button__next
            .swiper-button-prev.product-button__prev

          .product-slider__container.product-slider__container_bot.gallery-thumbs.swiper-container
            .product-slider__slider.swiper-wrapper
              .product-slider__slide.swiper-slide
                img(src="img/555х600.jpg")
              .product-slider__slide.swiper-slide
                img(src="img/555х600_1.jpg")
              .product-slider__slide.swiper-slide
                img(src="img/555х600_2.jpg")


        .product__aside
          .product__features
            .product-price
              .product-price__text $589
            .product-brand
              h4
                a(href="#").product-brand__title Star Wars Boys' The Force Awakens Character Match Up T-Shirt
            .product-rating
              .product-rating__stars
                - var n = 0
                  i
                    while n < 5
                      - n++
                        +icon('star-half-empty', 'main_mod')

              .product-rating__text |Add review
          .product__info
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
              |et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              |aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.

          .product-specs
            .product-specs__wrap
              .product-specs__item.product-specs__item_quantyty
                a(href="#", data-action="decrease").btn.btn_nofill.product-specs__btn.js-product-specs__btn.js-btn_active
                  +icon('minus-sign', 'gray_mod')
                input(name="quantity", value="1", type="text").product-specs__btn.js-product-btn
                a(href="#", data-action="increase").btn.btn_nofill.product-specs__btn.js-product-specs__btn
                  +icon('plus', 'gray_mod')

              .product-specs__item
                select(title="size")
                  .menu
                    option.menu__item(value="") Size
                    option.menu__item(value="S") Small
                    option.menu__item(value="M") Medium
                    option.menu__item(value="L") Large
                    option.menu__item(value="XL") X-Large

              .product-specs__item
                select(title="color")
                  .menu
                    option.menu__item(value="") Color
                    option.menu__item(value="black") black
                    option.menu__item(value="white") white
          .product-btn__row
            .product-btn
              a(href="#").btn.btn_nofill.btn_md Add to cart
            .product-btn
              a(href="#").btn.btn-fully_main.btn_md Add to wishlist
          .social
            h6.social__title.title__line Share
            .social__wrap
              each item in productSocials
                a(href=item.href, target="_blank", class='social__link' + item.icon)
                  - mod = mod || ''
                  svg(class="icon icon-" + item.icon + " " + mod)
                      use(xlink:href="i/sprite/sprite.svg#" + item.icon)
section
  .tabs.js-tabs
    .container
      ul.tabs__list
        li.tabs__item.tabs__item_active.js-tabs__item.js-tabs__item_active
          span.tabs__link Description
        li.tabs__item.js-tabs__item
          span.tabs__link History
        li.tabs__item.js-tabs__item
          span.tabs__link History
  .tabs__content
    .container
      .tabs__pane.tabs_active.js-tabs__pane.js-tabs_active
        p.tabs__info Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
          | et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          | aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.

      .tabs__pane.js-tabs__pane
        p.tabs__info content 2 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
          |et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          |aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.
      .tabs__pane.js-tabs__pane
        p.tabs__info content 3 content 3
        p.tabs__info content 3 content 3
        p.tabs__info content 3 content 3

section
  .container
    .product-block
      h3.product-block__title.title_center Related items

    .category-slider
      .category-slider__container.swiper-container
        .category-slider__wrapper.swiper-wrapper
          - for (var a = 0; a < 4; a++)
            include components/_category-slide
        .swiper-button-next.category-button__next
        .swiper-button-prev.category-button__prev

section
  .brands
    .container
      .brands-slider
        .brands-slider__container.swiper-container
          div.brands__list.brands-slider__wrapper.swiper-wrapper
            each val in brandsName
              div.brands__item.swiper-slide
                - mod = mod || 'gray_mod'
                svg(class="svg svg-" + val.icon + " " + mod )
                  use(xlink:href="i/svg/sprite-svg.svg#" + val.icon)







