.header-banner
  .container
    .header-banner__title
      h1 fashion is nothing
      h2 but
        span  mischief
    .btn-group
      a(href="#").btn.btn-fully_main.btn_md Shop Now

section
  .widgets.widgets_style
    .container
      .row
        .widget__column
          a(href="#").widget__link.widget__link_bord
            span.widget__image
              img(src="img/555x250.jpg" width="555" height="250" alt="")
            span.widget__content.widget__content_bord.widget__content_info
              span.widget__content-name Men’s t-shirt<br>
                strong.widget__content-text_main  collection
              span 2016

        .widget__column
          a(href="#").widget__link.widget__link_bord
            span.widget__image
              img(src="img/555x250.jpg" width="555" height="250" alt="")
            span.widget__content
              span.widget__content-text 50% offer
              span.widget__content-text belt
                strong.widget__content-text_main  collection
              span see more...


      .service
        .service__list-wrap
          ul.service__list
            li.service__item
              +icon('headset', 'main_mod')
              div.service__content
                h4.service__title 24/7 Hour Support
                p.service__text Our online support section is available and regularly updated if you'd prefer.
            li.service__item
              +icon('truck', 'main_mod')
              div.service__content
                h4.service__title Easy service
                p.service__text Our online support section is available and regularly updated if you'd prefer.
            li.service__item
              +icon('house', 'main_mod')
              div.service__content
                h4.service__title Home delivery
                p.service__text Our online support section is available and regularly updated if you'd prefer.

section
  .tiles
    .container
      .row
        .tiles__column
          .tiles__item-wrap
            a(href="#").tiles__item.tiles__item-top
              //img(src="img/370x570.jpg" width="370" height="570" alt="")
            //a(href="#").tiles__item.tiles__item-bot
            a(href="#").tiles__item.tiles__item-bot
            .btn-group
              a(href="#").btn.btn_nofill.btn_md.btn_center Shop Now
              //img(src="img/370x570.jpg" width="370" height="570" alt="")
        .tiles__column
          a(href="#").tiles__item.tiles__item_small
            img(src="img/370x242.jpg" width="370" height="242" alt="")
          a(href="#").tiles__item.tiles__item_small.label.label-new
            img(src="img/370x242.jpg" width="370" height="242" alt="")
        .tiles__column
          a(href="#").tiles__item.tiles__item_big.widget__content_bord
            img(src="img/370x500.jpg" width="370" height="500" alt="")

section
  .container
    .product-block
      h3.product-block__title New collection
      nav.product-block__nav
        ul.product-block__list
          each val in productBlock
            li.product-block__item
              a.product-block__link(href=val.href)=val.name
    .product-block__content
      .row
        - for (var a = 0; a < 8; a++)
          include components/_product-list

section
  .services
    .container
      .services__container-wrap
        .services__container
          +services ("", "PERSONAL ASSISTENT", "You don’t know what to choose? We will help you.")

section
  .container
    .product-block
      h3.product-block__title Featured
        //.products-menu__mobile
          +icon('bar-menu','success_mod')
      nav.product-block__nav
        ul.product-block__list
          each val in productBlock
            li.product-block__item
              a.product-block__link(href=val.href)=val.name

    .product-block__content
      .row
        - for (var a = 0; a < 4; a++)
          include components/_product-list

section
  .widgets.widgets-offer
    .container
      .row
        .widget__column
          a(href="#").widget__link
            span.widget__image
              img(src="img/555x250.jpg" width="555" height="250" alt="")
            span.widget__content.widget__content_back
              span.widget__title-name new<br> men’s collection
              span coming soon

        .widget__column
          a(href="#").widget__link
            span.widget__image
              img(src="img/555x250.jpg" width="555" height="250" alt="")

section
  .blog
    .container
      h3.title.title_center Latest news
      .row
        - for (var a = 0; a < 4; a++)
          include components/_blog-post

section
  .brand
    .container
      .row
        .brand__column
          span.brand__title.title__line Trending
          - for (var a = 0; a < 3; a++)
            include components/_top-brand
        .brand__column
          span.brand__title.title__line.title__line-center Top Rated
          - for (var a = 0; a < 3; a++)
            include components/_top-brand
        .brand__column.brand__column_left
          span.brand__title.title__line.title__line-right Date Updated
          - for (var a = 0; a < 3; a++)
            include components/_top-brand

section
  include components/_widgets

section
  .brands
    .container
      ul.brands__list
        each imgName in ['brands_1', 'brands_2', 'brands_3', 'brands_4', 'brands_5', 'brands_6']
          li.brands__item
            a(href="#").brands__link
              img(src="img/#{imgName}.jpg")





