div.header-banner
  div.container
    div.header-banner__title
      h1 fashion is nothing
      h3 but mischief
    div.btn-group
      a(href="#").btn.btn-fully_main.btn_md Shop Now

section
  .widgets.widgets-style
    .container
      .row
        .widget__column
          a(href="#").widget__link.widget__link-bord
            span.widget__image
              img(src="img/555x250.jpg" width="555" height="250" alt="")
            span.widget__title.widget__title-bord
              span.widget__title-name Men’s t-shirt<br><strong>collection</strong>
              span 2016

        .widget__column
          a(href="#").widget__link.widget__link-bord
            span.widget__image
              img(src="img/555x250.jpg" width="555" height="250" alt="")
            span.widget__title
              span.widget__title-text 50% offer
              span.widget__title-text belt <strong> collection </strong>
              span see more...

section
  .service
    .container
      .service__list-wrap
        ul.service__list
          li.service__item
            img.svg-img(src="img/headset.svg" width="161" height="52" alt="headset")
            div
              h4 24/7 Hour Support
              p Our online support section is available and regularly updated if you'd prefer.
          li.service__item
            img.svg-img(src="img/truck.svg" width="161" height="52" alt="headset")
            div
              h4 Easy service
              p Our online support section is available and regularly updated if you'd prefer.
          li.service__item
            img.svg-img(src="img/house.svg" width="161" height="52" alt="headset")
            div
              h4 Home delivery
              p Our online support section is available and regularly updated if you'd prefer.

section
  .tiles
    .container
      .row
        .tiles__column
          .tiles__item-wrap
            a(href="#").tiles__item.tiles__item-top
              //img(src="img/370x570.jpg" width="370" height="570" alt="")
            //a(href="#").tiles__item.tiles__item-bot
            a(href="#").tiles__item.tiles__item-bot
            .btn-group
              a(href="#").btn.btn_nofill.btn_md.btn_center Shop Now
              //img(src="img/370x570.jpg" width="370" height="570" alt="")
        .tiles__column
          a(href="#").tiles__item.tiles__item-small
            span.tiles__photo
              img(src="img/370x242.jpg" width="370" height="242" alt="")
          a(href="#").tiles__item.tiles__item-small.label.label-new
            span.tiles__photo
              img(src="img/370x242.jpg" width="370" height="242" alt="")
        .tiles__column
          a(href="#").tiles__item.tiles__item-big
            span.tiles__photo
              img(src="img/370x570.jpg" width="370" height="570" alt="")
            span

section
  .catalog
    .container
      .catalog__menu-wrap
        h2.title New collection
        nav.catalog__menu
          //.products-menu__mobile
            +icon('bar-menu','success_mod')
          ul.catalog__menu-list
            each val in ['All', 'Men', 'Women', 'Shop', 'Accessories']
              li.catalog__menu-item
                a(href="#").catalog__menu-link= val
      .catalog__column-wrap
        .row
          - for (var a = 0; a < 8; a++)
            include components/_product-block

section
  .services
    .services__wrap
      .container
        .services__list-wrap
          .services__list
            +services ("", "PERSONAL ASSISTENT", "You don’t know what to choose? We will help you.")

section
  .feature
    .container
      .feature__menu-wrap
        h2.title Featured
        nav.catalog__menu
          //.products-menu__mobile
            +icon('bar-menu','success_mod')
          ul.catalog__menu-list
            each val in ['All', 'Men', 'Women', 'Shop', 'Accessories']
              li.catalog__menu-item
                a(href="#").catalog__menu-link= val

      .products__column-wrap.row
        - for (var a = 0; a < 4; a++)
          include components/_product-block

section
  .widgets.widgets-offer
    .container
      .row
        .widget__column
          a(href="#").widget__link
            span.widget__image
              img(src="img/555x250.jpg" width="555" height="250" alt="")
            span.widget__title.widget__title-back
              span.widget__title-name new<br> men’s collection
              span coming soon

        .widget__column
          a(href="#").widget__link
            span.widget__image
              img(src="img/555x250.jpg" width="555" height="250" alt="")

section
  .blog
    .container
      header.blog__header
        h2.title.title_center Latest news
      .row
        +blog ("250x160", "4 Denim Shapes Worth Hanging Up Your SKINNY JEANS")
        +blog ("250x160", "4 Denim Shapes Worth Hanging Up Your SKINNY JEANS")
        +blog ("250x160", "4 Denim Shapes Worth Hanging Up Your SKINNY JEANS")
        +blog ("250x160", "4 Denim Shapes Worth Hanging Up Your SKINNY JEANS")

section
  .top-brand
    .container
      .row
        .top-brand__column
          h4.title__line Trending
          +top-brand ("70x80", "Denim t-shirt", "$289 - $250")
          +top-brand ("70x80", "Denim t-shirt", "$289 - $250")
          +top-brand ("70x80", "Denim t-shirt", "$289 - $250")
        .top-brand__column
          h4.title__line.title__line-center Top Rated
          +top-brand ("70x80", "Denim t-shirt", "$289 - $250")
          +top-brand ("70x80", "Denim t-shirt", "$289 - $250")
          +top-brand ("70x80", "Denim t-shirt", "$289 - $250")
        .top-brand__column
          h4.title__line.title__line-right Date Updated
          +top-brand ("70x80", "Denim t-shirt", "$289 - $250")
          +top-brand ("70x80", "Denim t-shirt", "$289 - $250")
          +top-brand ("70x80", "Denim t-shirt", "$289 - $250")

section
  .widgets
    .container
      .row
        .widget__column
          a(href="#").widget__link
            span.widget__image
              img(src="img/555x250.jpg" width="555" height="250" alt="")
            span.widget__title.widget__title-bord

        .widget__column
          .widget__banner
            h2.widget__title-text Newsletter<br>
            p we are promising,we wil not spam.
            a(href="#").btn.btn_nofill.btn_bg Add to cart

section
  .brands
    .container
      ul.brands__list
        each imgName in ['brands_1', 'brands_2', 'brands_3', 'brands_4', 'brands_5', 'brands_6']
          li.brands__item
            a(href="#").brands__link
              img(src="img/#{imgName}.jpg")





