.page-title
  .container
    ul.breadcrumbs
      each val in prodBreadcrumbs
        li.breadcrumbs__list
          a.breadcrumbs__link(href=val.href)=val.name
    h1 Product Details
section
  .product
    .container
      .row
        .product-slider
          .product-slider__container.gallery-top.swiper-container
            .product-slider__slider.swiper-wrapper
              .product-slider__slide.swiper-slide
                img.product-slider__img(src="img/555х600.jpg")
              .product-slider__slide.swiper-slide
                img.product-slider__img(src="img/555х600_1.jpg")
              .product-slider__slide.swiper-slide
                img.product-slider__img(src="img/555х600_2.jpg")
            .swiper-button-next.product-button__next
            .swiper-button-prev.product-button__prev

          .product-slider__container.product-slider__container_bot.gallery-thumbs.swiper-container
            .product-slider__slider.swiper-wrapper
              .product-slider__slide.swiper-slide
                img(src="img/555х600.jpg")
              .product-slider__slide.swiper-slide
                img(src="img/555х600_1.jpg")
              .product-slider__slide.swiper-slide
                img(src="img/555х600_2.jpg")



        .product__aside
          .product__features
            .product-price
              .product-price__text $589
            .product-brand
              h4
                a(href="#").product-brand__title Star Wars Boys' The Force Awakens Character Match Up T-Shirt
            .product-rating
              .product-rating__stars
                - var n = 0
                  i
                    while n < 5
                      - n++
                        +icon('star-half-empty', 'main_mod')
              .product-rating__text |Add review
          .product__info
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
              |et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              |aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.

          .product-specs
            .product-specs__wrap
              .product-specs__quantyty
                button(type="button", data-field="quantity").btn.btn_nofill.product-specs__btn.btn_plus
                  +icon('minus-sign', 'gray_mod')
                input(name="quantity", value="1", type="text").product-specs__btn
                button(type="button", data-field="quantity").btn.btn_nofill.product-specs__btn.btn_minus
                  +icon('plus', 'gray_mod')

              .product-specs__item
                select(title="size")
                  option(value="") Size
                  option(value="S") Small
                  option(value="M") Medium
                  option(value="L") Large
                  option(value="XL") X-Large

              .product-specs__item
                select(title="color")
                  option(value="") Color
                    option(value="black") black
                    option(value="white") white
          .product-btn__wrap
            .btn-group.product-btn
              a(href="#").btn.btn_nofill.btn_md Add to cart
            .btn-group
              a(href="#").btn.btn-fully_main.btn_md Add to wishlist
          .social__wrap
            h6.title__line Share
            .social
              each item, i in productSocials
                a(href=item.href, target="_blank", class='social__link' + item.icon)
                  - mod = mod || ''
                  svg(class="icon icon-" + item.icon + " " + mod)
                    use(xlink:href="i/sprite/sprite.svg#" + item.icon)
section
  .tabs
    .container
      ul.tabs__list
        li.tabs__item.tabs__item_active
          span Description
        li.tabs__item
          span History
        li.tabs__item
          span History
  .tabs__content
    .container
      .tabs__pane.tabs_active
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
          | et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          | aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.

      .tabs__pane
        p content 2 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
          |et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          |aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.
      .tabs__pane
        p content 3 content 3
        p content 3 content 3
        p content 3 content 3

section
  .container
    .product-block
      h3.product-block__title.title_center Related items

    .category-slider
      .category-slider__container.swiper-container
        .category-slider__wrapper.swiper-wrapper
          - for (var a = 0; a < 4; a++)
            include components/_category-slide
        .swiper-button-next.category-button__next
        .swiper-button-prev.category-button__prev

section
  .brands
    .container
      ul.brands__list
        each imgName in ['brands_1', 'brands_2', 'brands_3', 'brands_4', 'brands_5', 'brands_6']
          li.brands__item
            a(href="#").brands__link
              img(src="img/#{imgName}.jpg")





