doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    title home
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href='styles/style.css')

  body
    include blocks/mixins
    header
      .header
        .header__container
          .container
            .header__topline
              ul.contacts-nav__items
                li.contacts-nav__item
                  a(href="#") (00)-123-456-789
                li.contacts-nav__item
                  a(href="#") weshop@gmail.com
              .header__search
                form
                  input
              ul.user-nav__items
                each val in ['English', 'USD', 'Login']
                  li.user-nav__item
                    a(href="#")= val

            .header__botline
              a(href="#").header__logo
                img(src="img/logo.jpg" width="161" height="52" alt="LoGo")
              nav.main-menu
                //.main-menu__mobile
                  +icon('bar-menu','success_mod')
                ul.main-menu__list
                  each val in ['Home', 'Shop', 'Men', 'Women', 'Page', 'Blog', 'Contact us']
                    li.main-menu__item
                      a(href="#").main-menu__item-link= val
              ul.nav-cart__items
                li.nav-cart__item
                  a(href="#") cart
                li.nav-cart__item
                  span $25

        .header__banner
          .container
            .header__intro
              .header__title
                h1 fashion is nothing
                h3 but mischief
              .btn-group
                a(href="#").btn.btn_left.btn_md Shop Now

    section
      .info-block
        .container
          .row
        a(href="#").second__column-content
          h2 Men’s t-shirt<br> <span>collection</span><br>2016
        //img(src="img/555x250.jpg" width="555" height="250" alt="")
      .column--1_2.second__column
        h2 50% OFFER<br> BELT<span>COLLECTION</span>
        a(href="#") see more...

    section
      .service
        .container
          .service__list-wrap
            ul.service__list
              li.service__item
                img.svg-img(src="img/headset.svg" width="161" height="52" alt="headset")
                div
                  h4 24/7 Hour Support
                  p Our online support section is available and regularly updated if you'd prefer.
              li.service__item
                img.svg-img(src="img/headset.svg" width="161" height="52" alt="headset")
                div
                  h4 Easy service
                  p Our online support section is available and regularly updated if you'd prefer.
              li.service__item
                img.svg-img(src="img/headset.svg" width="161" height="52" alt="headset")
                div
                  h4 Home delivery
                  p Our online support section is available and regularly updated if you'd prefer.
    section.third
      .container
        .row
          .third__column--1_3
            img(src="img/370x570.jpg" width="370" height="570" alt="")
          .third__column--1_3
            img(src="img/370x242.jpg" width="370" height="242" alt="")
            img(src="img/370x242.jpg" width="370" height="242" alt="")

          .third__column--1_3
            img(src="img/370x570.jpg" width="370" height="570" alt="")

    section
      .catalog
        .container
          .row.row-flex
            .catalog-item
            .catalog-item
            .catalog-item
            .catalog-item
    section
      .cols
        .col.col-1
        .col.col-2
        .col.col-3
        .col.col-4



    section.products
      .container
        .products-menu__wrap
          h2.title New collection
          nav.products-menu
            //.products-menu__mobile
              +icon('bar-menu','success_mod')
            ul.products-menu__list
              li.products-menu__item
                a(href="#").products-menu__item-link All
              li.products-menu__item
                a(href="#").products-menu__item-link Men
              li.products-menu__item
                a(href="#").products-menu__item-link Women
              li.products-menu__item
                a(href="#").products-menu__item-link Shop
              li.products-menu__item
                a(href="#").products-menu__item-link Accessories
        .products__column-wrap
            .row
              +products ("270x340")
                +icon('search-symbol','white_mod')
              +products ("270x340")
                +icon('search-symbol','white_mod')
              +products ("270x340")
                +icon('search-symbol','white_mod')
              +products ("270x340")
                +icon('search-symbol','white_mod')
              +products ("270x340")
                +icon('search-symbol','white_mod')
              +products ("270x340")
                +icon('search-symbol','white_mod')
              +products ("270x340")
                +icon('search-symbol','white_mod')
              +products ("270x340")
                +icon('search-symbol','white_mod')
                  .btn-group
                    a(href="#").btn.btn_right.btn_sm Add to cart

    section.services
      .services-wrap
        .container
          .services__list-wrap
            .services__list
              +services ("", "PERSONAL ASSISTENT", "You don’t know what to choose? We will help you.")

    section.products.featured
      .container
        .products-menu__wrap
          h2.title Featured
          nav.products-menu
            //.products-menu__mobile
              +icon('bar-menu','success_mod')
            ul.products-menu__list
              li.products-menu__item
                a(href="#").products-menu__item-link All
              li.products-menu__item
                a(href="#").products-menu__item-link Men
              li.products-menu__item
                a(href="#").products-menu__item-link Women
              li.products-menu__item
                a(href="#").products-menu__item-link Shop
              li.products-menu__item
                a(href="#").products-menu__item-link Accessories
      .products__column-wrap
        .container
          .row
            .products__col--1_4
              .products__img
                img(src="img/270x340.jpg")
              .products__caption
                a.products__actions
                  +icon('search-symbol','white_mod')
            .products__col--1_4
              .products__img
                img(src="img/270x340.jpg")
              .products__caption
                a.products__actions
                  +icon('search-symbol','white_mod')
            .products__col--1_4
              .products__img
                img(src="img/270x340.jpg")
              .products__caption
                a.products__actions
                  +icon('search-symbol','white_mod')
            .products__col--1_4
              .products__img
                img(src="img/270x340.jpg")
              .products__caption
                a.products__actions
                  +icon('search-symbol','white_mod')

    section.offer
      .container
        .row
          .column--1_2.offer__column
            a(href="#").offer__img
              img(src="img/555x250.jpg" width="555" height="250" alt="")
            .offer__caption
              h2 new men’s collection<br>
              span coming soon

          .column--1_2.offer__column
            a(href="#").offer__img
              img(src="img/555x250.jpg" width="555" height="250" alt="")

    section.blog
      .container
        header.blog__header
          h2.title.title_center Latest news
        .row
          .column--1_2
            +blog ("250x160", "4 Denim Shapes Worth Hanging Up Your SKINNY JEANS")

          .column--1_2
            +blog ("250x160", "4 Denim Shapes Worth Hanging Up Your SKINNY JEANS")


    section.sellers


    section.news
      .container
        .row
          .column--1_2.offer__column
            a(href="#").offer__img
              img(src="img/555x250.jpg" width="555" height="250" alt="")
            .offer__caption
              h2 new men’s collection<br>
              span coming soon

          .column--1_2.offer__column
            a(href="#").offer__img
              img(src="img/555x250.jpg" width="555" height="250" alt="")

    section.brands
      .container
        ul.brands__list
          li.brands__item
            a(href="#").brands__item-link
              img(src="img/brands_1.jpg")
          li.brands__item
            a(href="#").brands__item-link
              img(src="img/brands_2.jpg")
          li.brands__item
            a(href="#").brands__item-link
              img(src="img/brands_3.jpg")
          li.brands__item
            a(href="#").brands__item-link
              img(src="img/brands_4.jpg")
          li.brands__item
            a(href="#").brands__item-link
              img(src="img/brands_5.jpg")
          li.brands__item
            a(href="#").brands__item-link
              img(src="img/brands_6.jpg")

    footer.footer
      .footer-wrap
        .container
          .footer__columns
            .footer__col
              p USA most-loved online fashion store featuring new deals.<br> When it comes to trend, we all love being in it — Seeping every bit of it in WESHOP.com

            .footer__col
                ul.footer__actions
                  li
            .footer__col
            .footer__col

            //a(href="").to-top.js-to-top
             +icon('left-arrow','white_mod')
      .footer-copyright
        .container
          .footer-copyright-wrap
            p © 2017

    //script(type="text/javascript" src="js/vendor.js")
    //script(type="text/javascript" src="js/all.js")
    //script(type="text/javascript" src="js/index.js")




