header
  .header
    .container
      .row
        .header__column
          ul.contacts-nav__list
            li.contacts-nav__item
              +icon('call-answer','white_mod')
              a(href="#") (00)-123-456-789
            li.contacts-nav__item
              +icon('mail','white_mod')
              a(href="#") weshop@gmail.com
          a(href="#").header__logo
            img(src="img/logo.jpg" width="161" height="52" alt="LoGo")
          nav.main-menu
            //.main-menu__mobile
              +icon('bar-menu','success_mod')

        .header__column.header__column_search
          form.header-search
            input.header-search__input(type='search', name='search', placeholder='Enter your search term...')
            button.header-search__submit
              +icon('search-symbol','success_mod')
          .main-menu
            ul.main-menu__items
              each val in menu
                li.main-menu__item
                  a.main-menu__link(href=val.href)=val.name

        .header__column.header__column_cart
          .user-nav
            ul.user-nav__items
              each val in ['English', 'USD', 'Login']
                li.user-nav__item
                  a.user-nav__link(href="#")= val

          .header__subcolumn
            .cart
              a(href="#").cart__link
                span.cart__img
                  +icon('bag-outline','white_mod')
                span.cart__counter 2
            .price
              span $25.00







