//- Базовая разметка страницы
mixin base-page(page)
  doctype html
  html(lang='en')
    head
      include ../meta/_head
    body
      //include ../svg/svg
      include ../partials/_header
      if block
        block
      //-include ../_index
      include ../partials/_footer
      //- скрипты
      include ../meta/_scripts

//svg-icon

mixin icon(name, mod)
  - mod = mod || ''
  svg(class="icon icon-" + name + " " + mod)
    use(xlink:href="i/sprite/sprite.svg#" + name)

mixin img-svg(name, mod)
  - mod = mod || ''
  svg(class="svg svg-" + name + " " + mod )
    use(xlink:href="i/svg/sprite-svg.svg#" + name)

//mixin services (imageName, title, text)
  div.services__item
    span.services__photo
      img(src="img/#{imageName}.jpg", alt="img")
    h5.services__title= title
    p.services__text= text
    .btn-group
      a(href="#").btn.btn_nofill.btn_md.btn_center View collection


