-
  var menu = [
              {name: 'Home', href: '#'},
              {name: 'Shop', href: '#'},
              {name: 'Men', href: '#'},
              {name: 'Women', href: '#'},
              {name: 'Page', href: '#'},
              {name: 'Blog', href: '#'},
              {name: 'Contact us', href: '#'}
              ]
-
  var catalogMenu = [
                      {name: 'All', href: '#'},
                      {name: 'Men', href: '#'},
                      {name: 'Women', href: '#'},
                      {name: 'Shop', href: '#'},
                      {name: 'Accessories', href: '#'}
                    ]

-
    var breadcrumbs = [
                        {name: 'Home', href: '#'},
                        {name: 'shop', href: '#'}

                      ]
-
  var prodBreadcrumbs = [
                          {name: 'Home', href: '#'},
                          {name: 'shop', href: '#'},
                          {name: 'details', href: '#'}
                        ]

-
  var cat = [
                {name: 'Women', href: '#', count: '(235)'},
                {name: 'Man', href: '#', count: '(234)'},
                {name: 'Kids', href: '#', count: '(233)'},
                {name: 'Bags', href: '#', count: '(232)'},
                {name: 'Accessories', href: '#', count: '(231)'},
                {name: 'Watch', href: '#', count: '(230)'}
              ]
-
  var checkbox = [
                    {name: 'S', href: '#', count: '(23)'},
                    {name: 'M', href: '#', count: '(34)'},
                    {name: 'L', href: '#', count: '(23)'},
                    {name: 'XL', href: '#', count: '(32)'},
                    {name: 'XXL', href: '#', count: '(31)'}
                ]


//- социальные сети
-
  var socials = [
                {href: 'https://www.facebook.com/', icon: 'facebook'},
                {href: 'https://twitter.com/', icon: 'twitter'},
                {href: 'https://linkedin.com/', icon: 'linkedin-letters'},
                {href: 'https://www.youtube.com/', icon: 'youtube'},
                {href: 'https://www.google.com/', icon: 'google-plus'}
              ]
-
  var productSocials = [
                          {href: 'https://www.facebook.com/', icon: 'facebook'},
                          {href: 'https://twitter.com/', icon: 'twitter'},
                          {href: 'https://linkedin.com/', icon: 'linkedin-letters'},
                          {href: 'https://www.google.com/', icon: 'google-plus'}
                        ]