.container {
  max-width: $site-width;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: $gutter;
  padding-left: $gutter;
}

// используется в сочетании с основным контейнером .container
// аналог row у bootstrap, но с учетом flex-wrap: wrap
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$gutter;
  margin-right: -$gutter;
  &_center {
    justify-content: center;
  }
}

// миксин задаёт ширину элемента, в колонках сетки
// по-умолчанию - 12 колонок
// использовать в сочетании с .row или @mixin flex-wrap
//@include $span; // см. _grid
//@include span(4);  // элемент занимает 4 колонки
//@include span(6);  // элемент занимает 6 колонок
//@include span(12); // элемент занимает всю ширину
@mixin span($qty: 4, $columns: 12, $gutter: $gutter) {
  width: calc(#{percentage($qty/$columns)} - #{$gutter * 2});
  margin-left: $gutter;
  margin-right: $gutter;
}


.catalog {
  background: green;
  padding-top: 50px;
  padding-bottom: 70px;
}

.catalog-item {
  @include span(12);  // элемент занимает 4 колонки
  border: 1px solid #000;
  height: 100px;
  font-size: 30px;
  color: black;
  @media (min-width: $md) and (max-width: $breakpoint - 1) {
    @include span(6);  // элемент занимает 4 колонки
  }
  @media (min-width: $breakpoint) {
    @include span(4);  // элемент занимает 4 колонки
  }
}

$num: 3;

@while $num > 0 {
  $width: $num * 10%;
  .col-#{$num} {
    width: $width;
    height: 3 * $width;
  }
  $num: $num - 1;
}

.cols {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row-reverse;
  background: gray;
  padding-top: 50px;
  padding-bottom: 70px;
  width: 100%;
  min-height: 800px;
  height: 1px;
}

.col {
  display: block;
  box-sizing: border-box;
  background-color: white;
}


//@each $animal in puma, sea-slug, egret, salamander {
  //.#{$animal}-icon {
   // background-image: url('/images/#{$animal}.png');
 // }
//}



//.puma-icon {
 // background-image: url('/images/puma.png'); }
//.sea-slug-icon {
 // background-image: url('/images/sea-slug.png'); }
//.egret-icon {
 // background-image: url('/images/egret.png'); }
//.salamander-icon {
 // background-image: url('/images/salamander.png'); }

